
#Accounts
auth  --useshadow  --enablemd5

#Very insecure default passwords (Needs to be changed!)
<% if (os == 'centos' || os == 'atomic') { %>
rootpw i81u812
user --name=<%= os %> --password <%= os %>
<% } else if (os == 'ubuntu') { %>
preseed --owner d-i user-setup/allow-password-weak boolean true
rootpw --disabled
user <%= os %> --fullname "<%= os %>" --password <%= os %>
<% } %>
