#############################
###                       ###
###   Kickstart Script    ###
###                       ###
#############################
<% if (os == 'ubuntu') { %>
  <%- include('preseed') %> 
<% } %>
<%- include('options') %> 
<%- include('accounts') %> 
<%- include('sources') %> 
<%- include('partitions') %> 
<%- include('network') %> 
<%- include('packages') %> 
<%- include('post-script/' + os) %> 
