<% if (typeof ip == 'undefined') { %>
network --bootproto=dhcp --device=eth0 --hostname=<%= hostname %>
<% } else { %>
network --bootproto=static --ip=<%= ip %> --netmask=<%= netmask %> --gateway=<%= gateway %> --nameserver=<%= nameservers %> --hostname=<%= hostname %>
<% } %>
