
#Basic Settings
lang en_US
<% if (os == 'ubuntu') { %>
langsupport en_US
<% } %>
keyboard us
timezone UTC
install
reboot

<% if ( os != 'atomic') { %>
text
<% } %>

<% if (os == 'centos') { %>
#Options for CentOS only
firstboot --disabled
selinux --enforcing
firewall --disabled
skipx
<% } %>
