#Packages

<% if (os == 'ubuntu') { %>
%packages
openssh-server
python
<% } else if (os == 'centos') { %>
%packages --nobase --ignoremissing --excludedocs
@core
yum
wget
openssh-clients
openssh-server
sudo
nfs-utils
%end
<% } else if (os == 'atomic') { %>
%packages --nobase --ignoremissing --excludedocs
@core
authconfig-tui
yum
%end
<% } %>
