
#Partitioning
<% if (os == 'ubuntu') { %>
preseed --owner partman-basicfilesystems partman-basicfilesystems/no_swap boolean false
zerombr yes
<% } else if (os == 'centos' || os == 'atomic') { %>
zerombr
<% } %>

<% if (part && lvm) { %>
  <% if (part == 'docker') { %>
# Disk partitioning information for Docker
part /boot --size=500
part pv.1 --size=500 --grow
volgroup rhel --pesize=4096 pv.1 --reserved-percent=20
logvol /  --size=500 --grow --name=root --vgname=rhel
logvol swap --size=2048 --name=swap --vgname=rhel

  <% } else { %>
#Basic LVM Partitioning:

##### ADD LVM Partitioning Here #####

  <% } %>

<% } else if (part) { %>
#Basic Partitioning:
bootloader --location=mbr
clearpart --all --initlabel
  <% for (var i=0; i<part.length; i++) { 
       var fs = part[i] 
       var partitionStr = ""
       
       // Unless fs[0] == swap, we always assume fs[0]:mount, fs[1]:fstype, and fs[2]:size
       if (fs[0] == 'swap') {
         fstype = 'swap'
         mount = 'swap'

         partitionStr = "swap --size=" + fs[1]
       } else {
         fstype = fs[1]
         mount = fs[0]
         size = fs[2]
         options = ""

         // Any additional options are added to the end of the part string
         if (fs.length > 3) {
           for (var x=3; x<fs.length; x++) {
             options = options + fs[x] + " ";
           } 
         }

         partitionStr = mount + " --fstype=" + fstype + " --size=" + size + " " + options
       } %> 
part <%= partitionStr %><% } %>
<% } else { %>
#Default partitioning:
bootloader --location=mbr
clearpart --all --initlabel
part /boot --fstype ext4 --size 256 --asprimary
part / --fstype ext4 --size 1 --grow --asprimary
<% } %>
