
#Preseed filesystem.squash for Ubuntu OS's
preseed --owner d-i live-installer/net-image string <%= http_proto %>://<%= http_host %>:<%= http_port %>/<%= os %>_<%=install_type %>_<%= version %>/install/filesystem.squashfs
