
#Sources
<% if (os == 'centos' || os == 'ubuntu') { %>
url --url=<%= http_proto %>://<%= http_host %>:<%= http_port %>/<%= os %>_<%= install_type %>_<%= version %>
<% } else if (os == 'atomic') { %>
eula --agreed
ostreesetup --osname="centos-atomic-host" --remote="centos-atomic-host" --url="file:///install/ostree" --ref="centos-atomic-host/7/x86_64/standard" --nogpg
services --disabled="cloud-init,cloud-config,cloud-final,cloud-init-local"
<% } %>
