
#Post script
%post
yum -y update
yum -y install policycoreutils policycoreutils-python wget
# sudo
echo "%<%= os %> ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/<%= os %>
chmod 0440 /etc/sudoers.d/<%= os %>
sed -i "s/^[^#].*requiretty/#Defaults requiretty/" /etc/sudoers
%end
